<div class="row">
	<div class="col-12">
		<div class="alert alert-primary" role="alert">
			Comp. Informações
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h4>Via input</h4>
	</div>
	<div class="col-12">
		Valor: {{nomeBehaviorSubject | async}}
		<br>
    Recebido {{nomeCount}} vez(es).
	</div>
</div>

<hr class="my-4">

<div class="row">
	<div class="col-12">
		<h4>Via service</h4>
	</div>
	<div class="col-12">
		Valor: {{musica}}
		<br>
    Recebido {{musicaCount}} vez(es).
	</div>
</div>
